<h2>商品編集</h2>

<%= form_for(@item, url: admin_item_path) do |f| %>

  <h2>商品名</h2>
  <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"商品名"%>

  <h2>商品説明</h2>
  <%= f.text_field :introduction, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"商品説明"%>

  <h2>価格</h2>
  <%= f.text_field :price, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"価格"%>

  <h2>商品画像</h2>
  <span><%= attachment_image_tag @item, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></span>

  <label class="control-label sr-only" for="inputEmail"></label>

  <!-- attachment_fieldで、画像選択用のボタンを生成 -->
  <%= f.attachment_field :image, class: "user-edit-form" %>

  <%= f.submit "変更を保存", class:"btn btn-lg btn-block btn-base-1 mt-20" %>

<% end %>