<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group has-icon">
    <label class="control-label sr-only" for="inputLast_name">（姓）</label>
    <%= f.text_field :last_name, autofocus: true, class:"form-control", id:"inputLast_name", placeholder:"（姓）"%>
    <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
  </div>

  <div class="form-group has-icon">
    <label class="control-label sr-only" for="inputFirst_name">（名）</label>
    <%= f.text_field :first_name , autofocus: true, class:"form-control", id:"inputFirst_name", placeholder:"（名）"%>
    <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
  </div>

  <div class="form-group has-icon">
    <label class="control-label sr-only" for="inputLast_name_kana">（セイ）</label>
    <%= f.text_field :last_name_kana, autofocus: true, class:"form-control", id:"inputLast_name_kana", placeholder:"（セイ）"%>
    <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
  </div>

  <div class="form-group has-icon">
    <label class="control-label sr-only" for="inputFirst_name_kana">（メイ）</label>
    <%= f.text_field :first_name_kana, autofocus: true, class:"form-control", id:"inputFirst_name_kana", placeholder:"（メイ）"%>
    <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
  </div>

  <div class="form-group has-icon">
    <label class="control-label sr-only" for="inputEmail">メールアドレス</label>
    <%= f.text_field :email, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"メールアドレス"%>
    <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
  </div>

  <div class="form-group has-icon">
    <label class="control-label sr-only" for="inputPostal_code">郵便番号（ハイフンなし）</label>
    <%= f.text_field :postal_code, autofocus: true, class:"form-control", id:"inputPostal_code", placeholder:"郵便番号（ハイフンなし）"%>
    <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
  </div>

  <div class="form-group has-icon">
    <label class="control-label sr-only" for="inputAddress">住所</label>
    <%= f.text_field :address, autofocus: true, class:"form-control", id:"inputAddress", placeholder:"住所"%>
    <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
  </div>

  <div class="form-group has-icon">
    <label class="control-label sr-only" for="inputPhone_number">電話番号（ハイフンなし）</label>
    <%= f.text_field :phone_number, autofocus: true, class:"form-control", id:"inputPhone_number", placeholder:"電話番号（ハイフンなし）"%>
    <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
  </div>

  <div class="form-group has-icon">
    <label class="control-label sr-only" for="inputPassword">パスワード（6文字以上）</label>
    <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード（6文字以上）" %>
    <span class="fa fa-lock form-control-icon" aria-hidden="true"></span>
  </div>

  <div class="form-group has-icon">
    <label class="control-label sr-only" for="inputConfirmPassword">パスワード（確認用）</label>
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"inputConfirmPassword", placeholder:"パスワード（確認用）" %>
    <span class="fa fa-check-circle-o form-control-icon" aria-hidden="true"></span>
  </div>

    <%= f.submit "新規登録", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
  <% end %>


<h2>既に登録済みの方</h2>

  <p><%= link_to "こちら", customer_session_path %>からログインしてください。</p>