<h3>注文情報確認</h3>
<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th><P>商品名</P></th>
      <th><P>単価（税込）</P></th>
      <th><P>数量</P></th>
      <th><P>小計</P></th>
    </tr>
  </thead>

  <tbody>
      <% @cart_items.each do |cart_item| %>
      <tr class="new-table">
        <td>
          <%= cart_item.item.name %>
        </td>
        <td>
          <!-- 単価（税込） -->
          <%= cart_item.item.price %>
        </td>
        <td>
          <!-- 数量 -->
          <%= cart_item.quantity %>
        </td>
        <td>
          <!-- 小計 -->
          <%= (cart_item.item.price * cart_item.quantity).to_i %>
          <!-- @total_priceでも可？ -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<table class="table table-striped">
  <thead>
    <tr>
      <th><P>送料</P></th>
      <th><P>商品合計</P></th>
      <th><P>請求金額</P></th>
    </tr>
  </thead>
  <tbody>
      <tr class="new-table">
        <td>
        　<!-- 送料 -->
          <p><%= @freight %>円</p>
        </td>
        <td>
        <!-- 　商品合計金額 -->
          <p><%= @total_price %>円</p>
        </td>
        <td>
          <!-- 請求金額 -->
          <p><%= @total %>円</p>
          <!-- コントローラーに@total = (@total_price + @freight).to_i で　ビューに@totalでも可？-->
        </td>
      </tr>
  </tbody>
</table>

  <h3>支払方法</h3>
    <%= @order.pay %>

  <h3>お届け先</h3>
    <p><%= current_customer.address %></p>
    <p><%= current_customer.name %></p>


<%= form_for(@order, url: public_orders_path) do |f| %>
  <%= f.hidden_field :postal_code, :value => current_customer.postal_code %>
  <%= f.hidden_field :address, :value => current_customer.address %>
  <!-- 宛名 -->
  <%= f.hidden_field :name, :value => current_customer.name %>
  <%= f.hidden_field :freight, :value => @freight %>
  <!-- 請求金額 -->
  <%= f.hidden_field :total, :value => @total %>
  <%= f.hidden_field :pay %>

  <%= f.submit '購入を確定する'%>
<% end %>


</div>


