<h3>注文情報確認</h3>
<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th><P>商品名</P></th>
      <th><P>単価（税込）</P></th>
      <th><P>数量</P></th>
      <th><P>小計</P></th>
    </tr>
  </thead>

  <tbody>
    <% @sum = 0 %>
      <% @cart_items.each do |cart_item| %>
      <tr class="new-table">
        <td>
          <%= cart_item.item.name %>
        </td>
        <td>
          <!-- 単価（税込） -->
          <%= cart_item.item.price %>
        </td>
        <td>
          <!-- 数量 -->
          <%= cart_item.quantity %>
        </td>
        <td>
          <!-- 小計 -->
          <%= (cart_item.item.price * cart_item.quantity).to_i %>
        </td>
        <!-- 合計金額を出すための計算 -->
         <% @sum += cart_item.item.price * cart_item.quantity %>
      </tr>
    <% end %>
  </tbody>
</table>


<table class="table table-striped">
  <thead>
    <tr>
      <th><P>送料</P></th>
      <th><P>商品合計</P></th>
      <th><P>請求金額</P></th>
    </tr>
  </thead>
  <tbody>
      <tr class="new-table">
        <td>
        　<!-- 送料 -->
          <p><%= a = 800 %>円</p>
        </td>
        <td>
        <!-- 　商品合計金額 -->
          <p><%= @sum %>円</p>
        </td>
        <td>
          <!-- 請求金額 -->
          <p><%= @sum += a %>円</p>
        </td>
      </tr>
  </tbody>
</table>

  <h3>支払方法</h3>


  <h3>お届け先</h3>
    <p><%= current_customer.address %></p>

</div>

