<h2>商品詳細</h2>


<span><%= attachment_image_tag @item, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></span>



    <h2>商品名</h2>
    <p><%= @item.name %></p>

    <h2>商品説明</h2>
    <p><%= @item.introduction %></p>

    <h2>税込価格</h2>
    <p><%= @item.price %>円</p>

	<%= form_for(@cart_item, url: public_cart_items_path) do |f| %>
      <!-- 商品のidを渡す -->
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.number_field :quantity, min: 0 %>


    <%= f.submit 'カートに入れる', class: "btn btn-primary" %>

	<% end %>